/* - All the pages - */
/* - Just basic stuff that my whole code needs - */
Body{
    margin: 0;
    display: flex;
}

/* - This is for the hyper links - */
h1{
    margin: 30px;
    top: 0px;
    left: 0px;
    padding: 0px;
    color:white;
    background-color:black;
}

/* - The title to show what page you are on - */
.title {
    position: fixed;
    color: black;
    font-size: 16px;
    width: 50px;
    top: 25px;
    left: 350px;
    font-size:50px;
    white-space: nowrap
}

/* - To give the links style - */
a{
    margin: 30px;
    top: 0px;
    left: 0px;
    padding: 0px;
    color:white;
    background-color:black;
    text-decoration-line: underline;
    font-size: 25px;
}


/* - The home page - */
/* - The home page picture - */
.picture-me {
    position: fixed;
    top: 100px;
    left: 330px;
    margin: 0px;
    border-radius: 50px;
}

/* - My info to contact me, and socail media - */
.My-info {
    position: fixed;
    top: 750px;
    left: 350px;
}


/* - The About me page - */
/* - The pictures for the about me page - */
.picture-AboutMe1 {
    position: fixed;
    top: 100px;
    left: 350px;
    margin: 0px;
    border-radius: 50px;
}
.picture-AboutMe2 {
    position: fixed;
    top: 100px;
    left: 875px;
    margin: 0px;
    border-radius: 50px;
}
.picture-AboutMe3 {
    position: fixed;
    top: 10px;
    left: 1400px;
    margin: 0px;
    border-radius: 50px;
}

/* - This is the text for the about me page - */
.ski-text {
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    line-height: 1.6;
    position: fixed;
    top: 435px;
    left: 315px;
}
.ski-text p {
  text-indent: 2em;
}

.paragliding-text {
    max-width: 502px;
    margin: 20px;
    padding: 20px;
    line-height: 1.6;
    position: fixed;
    top: 435px;
    left: 835px;
}
.paragliding-text p {
  text-indent: 2em;
}

.renaissance-text {
    max-width: 500px;
    margin: 24px;
    padding: 20px;
    line-height: 1.6;
    position: fixed;
    top: 480px;
    left: 1350px;
}
.renaissance-text p {
  text-indent: 2em;
}

/* - The circle to block a persons face - */
.circle {
    position: fixed;
    width:100px;
    height: 100px;
    background-color:gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 135px;
    left: 1025px;
}


/* - My futyre plans - */
/* - The future plans description - */
.My-future-description {
    position: fixed;
    top: 50px;
    left: 300px;
    max-width: 510px;
    margin: 20px;
    padding: 20px;
    line-height: 1.6;
}
.My-future-description p {
  text-indent: 2em;
}

/* - The three different header sections - */
.section-1-header {
    position: fixed;
    top: 250px;
    left: 400px;
    font-size: 30px;
    text-decoration: underline;
}

.section-2-header {
   position: fixed;
    top: 250px;
    left: 1000px;
    font-size: 30px;
    text-decoration: underline;
}

.section-3-header {
    position: fixed;
    top: 250px;
    left: 1600px;
    font-size: 30px;
    text-decoration: underline;
}

/* - The three different sections of my life - */
.section-1 {
    position: fixed;
    top: 230px;
    left: 300px;
    max-width: 450px;
    margin: 20px;
    padding: 20px;
    line-height: 1.6;
    font-size: 16px;
}
.section-1 p {
  text-indent: 2em;
}

.section-2 {
    position: fixed;
    top: 225px;
    left: 900px;
    max-width: 450px;
    margin: 20px;
    padding: 20px;
    line-height: 1.6;
    font-size: 16px;
}
.section-2 p {
  text-indent: 2em;
}

.section-3 {
    position: fixed;
    top: 225px;
    left: 1500px;
    max-width: 450px;
    margin: 20px;
    padding: 20px;
    line-height: 1.6;
    font-size: 16px;
}
.section-3 p {
  text-indent: 2em;
}

/* - Side note - */
.SideNote-title {
    position: fixed;
    bottom: 200px;
    left: 350px;
    font-size: 30px;
    text-decoration: underline;
}

.SideNote {
    position: fixed;
    bottom: 120px;
    left: 350px;
    font-size: 18px;
    max-width: 510px;
}

.Zelda_Accomplishment {
    position: fixed;
    top:50px;
    left: 1000px;
}
.The_Factory_1 {
    position: fixed;
    top:100px;
    left: 325px;
}
.Accomplishment_text {
    position: fixed;
    bottom: 400px;
    left: 350px;
    font-size: 18px;
    max-width: 510px;
}